.home-grid{
    display: grid;
    grid-template-columns: auto auto ;
    gap: 1em;
}
.box{
    margin-bottom: 1em;
}
.box h2 {
    text-align: center;
    margin:auto;
        /* margin: 0.5em; /*agh they commented it out */
        padding: 1em; 
        text-transform: uppercase;
        /* font-size: 250%;  agh they commented it out */
         letter-spacing: 2px; 
         transform: scaleY(1.5); 
         text-decoration: underline;
         /* text-decoration: overline;  agh they commented it out */
        color: #266150;; 
}
.box table{
    text-align: center;
    margin:auto;
}
.normal{
color:#4f484f;
text-decoration: none;
}
tbody tr a:hover{
    background-color: #edd9cc;
    color: #266150;
    text-decoration: none;
}
