html {
    display: block;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
    background-color:#f7eae3;
    display: flex;
    flex-direction:column;
    min-height: 100vh;
}
*{
     margin:0; 
    padding:0;
    box-sizing:border-box;
} 
/*Header and footer stuff*/
header, footer{
    background-color: #E8cebf;
    height: 80px;
    padding: 15px 0 5px 25px ;
    width: 100%;
}
footer{
    display: flex;
    /* position: sticky; */
    bottom: 0;
}
header h1{
    float:left;
    color: #4f4846; 
}
.headerTitle{
    display: block;
    float: left;
}

.headerTitle ul li{
    list-style-type: none;
}
/*Influences my name in the nav*/
.headerTitle ul li h2{
    color: #266150;
    font-size: medium;
    font-style: italic;
    margin: 0;
} 
/*
Influences the nav list 
*/
.nav_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav_list li{
    display: inline;
    
}
.nav_list li a {
    padding: 8px;
    text-decoration: none;
    color: #266150;
  }
/*Header but the navigation*/
header nav{
    float:right;
    margin: 20px 15px 10px 10px;
    display: block;
}
/*Main/body stuff*/
.container{
    flex: 1;
    /* max-width:1100px;
    min-width: none;
    min-height: 100vh;
    */
     margin:  auto 1em ; 
    
    /* display: block; */ 
}

/*This influences the title of the page*/
.spTitle{
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    color: #4f484f;
    padding-top: 3%;
}

/*This spaces the form elements a bit better*/
label, select, input[type=text],input[type=submit]{
    display: block;
    padding:0.5em 0.25em;
    font: 1rem;
    margin: auto;
}
form{
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
   
}


/*
*
*This is influences the favorites page (mostly tables)
*/
.table{
    table-layout: auto;
    width: 90%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border: 3px #266150 solid;
    border-collapse: collapse;
 }
thead{
    background-color: #e8cebf;
    border-bottom: 2px solid #266150;
    color: #4f4846;
}
th, td{
    font-size: 1em;
    text-align: left;
    padding: 1em;
}
tbody tr:hover{
    background-color: #edd9cc;
    color: #266150;
}
/*
* Button Stuff
*/
.connecter a , .addfav a{
    display: block;
    padding: 0.5em;
    font: 1rem;
    background-color: #266150;
    text-align: center;
    text-decoration: none;
    color: #f7eae3;
    border-radius: 5%;
    margin-top: auto;
    margin-bottom: auto;
    /* width: 90%; */
}
.connecter a:hover , .connecter_empty:hover , .addfav a:hover{ 
    box-shadow: 0 0px 5px #4f4846;
}
.connecter_empty{
    display: block;
    width:30%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #266150;
    text-decoration: none;
    color: #FDF8F5;
    margin-top: 1em;
    padding: 1em;
    font-size: medium;
    border-radius: 5%;
}
/**
*Single song page stuff
**/
.song-general ul{
    list-style: none;
    /* padding-left: 35%; */
}
.song-general ul li{
    margin-top: 10px;
    text-align: center;
}
/*This is used in Single song page */
.song-analysis{
    /* background:#266150 ; */
    /* margin-bottom: 2em; */
    display: grid;
    /* grid-template-rows: 1em 1em 1em; */
    grid-template-columns: auto auto;
    /* flex: 0 1 auto; */ 
    width: 65%;
    padding: 4px;
    margin: 10px;
}
/*This is used in Single song page */
.song-general p{
    padding:0.5em 1.4em 0 1.4em;
    font-size: 90%;
}
.song-general{
display: flex;
    
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0px;

}

.song-title {
    /* text-decoration: overline; */
    color: #266150;
}
li.song-year , li.song-artist-type {
    transform: scalex(1.3);
    color: #4f484f;
}

.song-title h1 {
color: #266150;
text-transform: uppercase;
font-size: 250%;
letter-spacing: 2px;
transform: scaleY(1.5);
padding: 1em;
}
.song-analysis div{
    display: flexbox;
}

.info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #E8cebf; 
    margin-bottom: 2em;
    flex:1;
    padding:0;
    justify-content: space-around;
}
.songitem{
    /* border: 1px solid red; */
    /* flex-basis: 50%; */
    margin: 0.5em;
    padding: 0.3em;
    /* background-color: pink; */
    background: #266150;
    text-align: center;
    color: #f7eae3;
    /* border: 3px solid red;
    background-color: pink;
      margin: 0.5em;
      padding: 0.3em; */
}



.songInformation {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
    align-items:center;
    margin-right:auto;
    margin-left: auto;
    
  }
  .song-artist h2 {
    transform: scalex(1.3);
    color: #4f484f;
    text-transform: capitalize;
  }
  li.song-genre h2{
    transform: scalex(1.3);
    color: #4f484f;
    text-transform: capitalize;
  }
 .songitem h3{
        /* margin: 0.5em; */
        padding: 1em;
        text-transform: uppercase;
    /* font-size: 250%; */
    letter-spacing: 2px;
    transform: scaleY(1.5);
    /* text-decoration: overline; */
    color: #f7eae3;
 }
/*Progress value */

progress{
    -webkit-appearance: none;
    box-shadow: 2px;
}
::-webkit-progress-value {
    background-color: #E8cebf;
}
::-webkit-progress-bar {
    background-color: #4f484f;
    border: 2px;
    border-color: #E8cebf;
  }
 .songitem p span{
    font: 150%;
 }

 .center-form{
    display: flex;
    justify-content: center;
}
#sbutton{
    display: block;
    padding: 0.5em;
    font: 1rem;
    background-color: #266150;
    text-align: center;
    text-decoration: none;
    color: #f7eae3;
    border-radius: 5%;
    margin: auto;
}
form p{
    padding: 1em;
    margin-bottom: 5em;
    margin-top: 2em;
    background-color: #266150;
    color: #f7eae3;
    text-align: center;
    font-size: x-large;
    letter-spacing: 2px;
    transform: scaleY(1.5);
    
}
.songitem p span{
    font-size: larger;
 }